body {
  margin-top: 20px;
}

.chat-online {
  color: #34ce57;
}

.chat-offline {
  color: #e4606d;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 300px);
  overflow-y: scroll;
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0;
}

.chat-message-left {
  margin-right: auto;
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.flex-grow-0 {
  flex-grow: 0 !important;
}
.border-top {
  border-top: 1px solid #dee2e6 !important;
}

@media (max-width: 767.98px) {
  .only {
    display: none;
  }
}
@media (min-width: 767.98px) {
  .contact {
    display: none;
  }
}

.info {
  display: none;
}

/*@media (max-width: 767.98px) {
  .only_chat {
    display: none;
  }
}

/*@media (max-width: 768px) {
  #chat_list {
    display: none;
  }
}
/*@media (max-width: 1125px) {
  #chat_list {
    display: block;
  }
}
@media (max-width: 768px) {
  #chat_list {
    display: none;
  }
}
@media (min-width: 542px) {
  #chat_list {
    display: none;
  }
}

@media (max-width: 540px) {
  #chat_list {
    display: none;
  }
}
@media (max-width: 414px) {
  #chat_list {
    display: none;
  }
}
@media (max-width: 411px) {
  #chat_list {
    display: none;
  }
}
@media (max-width: 375px) {
  #chat_list {
    display: none;
  }
}
@media (max-width: 340px) {
  #chat_list {
    display: none;
  }
}
@media (max-width: 280px) {
  #chat_list {
    display: none;
  }
}*/
