.select2-results__options {
  background-color: #ffffff;
}

.album-photo-item {
  padding-right: 2px;
  padding-left: 2px;
}
.private-photo-no-access {
  position: relative;
}
.private-photo-buy-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  padding-top: 50%;
}

.logo-title {
  color: #ffffff;
  background: transparent;
  text-shadow: #474747 3px 5px 2px;
}
